.relevant__title{
  font-family: 'Montserrat';
}

.relevant__title{
  margin: 0;
  & span{
    font-weight: 700;
  }
}

.relevant__buttons{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}