.chat {
  display: flex;
  &__text{
    font-family: 'Montserrat', sans-serif;
  }
  &__list{
    max-width: 40%;
    width: 40%;
    height: 400px;
    overflow: auto;
  }
  &__field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 400px;
  }
  &__messages{
    flex-grow: 1;
    overflow: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: aliceblue;
    border-radius: 5px;
  }
  &__send{
    display: flex;
  }
}
