.title {
  color: #fff;
  padding: 1rem;
  background-color: #0c54a0;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  &__top {
    display: block;
    font-size: 18px;
  }

  &__bottom {
    display: block;
    font-size: 12px;
  }
  &__commision{
    display: block;
    font-size: 12px;
    width: 100%;
    padding: 1rem 0 0 0;
    border-top: 1px solid #fff;
    color: '62ff00';
  }
}