.rsis-container{
  & :last-child{
    display: none;
  }
}

.rsis-image {
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel__close{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform .3s;
  &:hover{
    transform: scale(1.1);
  }
  &:active{
    transform: scale(0.9);
  }
}